<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta property="og:description" content="I.A que transforma seu estoque de veículos em um chat inteligente e gera de leads com dicas de abordagem personalizadas.">
    <meta name="description" content="<%= productDescription %>" />
        <meta property="og:title" content="ChatCar - CRM com I.A + Chatbot para vendas automotivas">
    <meta property="og:site_name" content="ChatCar">
    <meta property="og:url" content="https://chatcar.me">
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <link rel="icon" type="image/png" sizes="128x128" href="logo.jpeg" />
    <link rel="icon" type="image/png" sizes="96x96" href="logo.jpeg" />
    <link rel="icon" type="image/png" sizes="32x32" href="logo.jpeg" />
    <link rel="icon" type="image/png" sizes="16x16" href="logo.jpeg" />
    <link rel="icon" type="image/ico" href="logo.jpeg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <!-- Meta Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "1016650543993589");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display: none"
        src="https://www.facebook.com/tr?id=1016650543993589&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
