@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');

/* Cor de fundo do scrollbar */
::-webkit-scrollbar {
  width: 12px;
  /* Largura do scrollbar */
  height: 8px;
  /* Altura do scrollbar (scroll horizontal) */
}

/* Cor da "trilha" do scrollbar */
::-webkit-scrollbar-track {
  background: #1f1f1f;
  /* Cor de fundo da trilha */
  /* Cantos arredondados */
}

/* Cor do "polegar" do scrollbar (a parte que se move) */
::-webkit-scrollbar-thumb {
  background: #121821;
  /* Cor do polegar */
  border-radius: 10px;
  /* Cantos arredondados */
}

/* Cor do polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #008e76;
  cursor: grab;
}
* {
  scroll-behavior: smooth;
}

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


* {
  font-family: 'Montserrat', sans-serif;
}

// app global css in SCSS form
.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.dm-font {
  font-family: "DM Sans", sans-serif;
}

.q-dialog__backdrop {
  animation: fadeIn;
  animation-duration: 1s;
  background-color: rgba(0, 0, 0, 0.687);
  backdrop-filter: blur(8px);
}

.q-page {
  animation: fadeIn;
  animation-duration: 1s;
}

.q-item.q-router-link--active {
  color: #26A69A;
}

.header {
  background: #05393B;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #05393B, #10A29C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #05393bcc, #10a29dd7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  backdrop-filter: blur(8px);
}

.header-2 {
  background: #05393B;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #095e61, #10a29dd7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #095e61, #10a29dd7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  backdrop-filter: blur(8px);
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 59, 47, 0.404);
}

.bg-blue-grad {
  background: #05393B;
  background: -webkit-linear-gradient(to top, #0b0e13, #121821);
  background: linear-gradient(to top, #0b0e13, #121821);
  backdrop-filter: blur(8px);
}

.bg-blue-grad-2 {
  background: #05393B;
  background: -webkit-linear-gradient(to left, #0b0e13, #121821);
  background: linear-gradient(to left, #0b0e13e1, #0d1726d3);
  backdrop-filter: blur(8px);
}