@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
// app global css in SCSS form
.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}